@{
    ViewBag.Title = "GetDetailTrip";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
@section link
{
    <link rel="stylesheet" href="~/Content/assets_client/css/ticket4-12.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.17/dist/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="sweetalert2.min.css">
}
<div>
    <!-- Tab items -->
    <div class="tabs tabs-center ">
        @{
            foreach (var item in ViewBag.listTrainCarriages)
            {
                <div class="trainCarriagesName tab-item" id="@item.Name">
                    <i class="tab-icon fas fas fa-train"></i>
                    @item.Name
                </div>
            }


        }
        <div class="line"></div>
    </div>

    <!-- Tab content -->
    <div class="tab-content">
        <div class="tab-pane active">
            <div class="grid wide main">
                <div class="row">
                    <div class="l-6 container-book-tickets" >
                        @foreach (var ticketByTrip in ViewBag.listTicketByTrip)
                        {

                            <div class="grid-container" data-name="@ticketByTrip.TrainCarriagesName" style="display:@(ticketByTrip.TrainCarriagesName == "Toa 1" ? "" : "none")">

                                @{
                                    var listTicket = ticketByTrip.Tickets;
                                    for (int i = 1; i <= 12; i++)
                                    {
                                        for (int j = 1; j <= 4; j++)
                                        {
                                            <!--<span class="grid-item"> @i - @j </span>-->
                                            var ticket = listTicket[0];
                                            foreach (var item in listTicket)
                                            {
                                                if (item.Row == i && item.Colunm == j)
                                                {
                                                    ticket = item;
                                                }
                                            }

                                            switch (j)
                                            {
                                                case 1:
                                                    <span class="ticketCheck @(ticket.Status == 2 ? "grid-item-booked" : "grid-item")" data-id="@ticket.Id" data-price="@ticket.Price" data-startDateTime="@ticket.Trip.StartDateTime"> A @i </span>
                                                    break;
                                                case 2:
                                                    <span class="ticketCheck @(ticket.Status == 2 ? "grid-item-booked" : "grid-item")" data-id="@ticket.Id" data-price="@ticket.Price" data-startDateTime="@ticket.Trip.StartDateTime"> B @i </span>
                                                    break;
                                                case 3:
                                                    <span class="ticketCheck @(ticket.Status == 2 ? "grid-item-booked" : "grid-item")" data-id="@ticket.Id" data-price="@ticket.Price" data-startDateTime="@ticket.Trip.StartDateTime"> C @i </span>
                                                    break;
                                                case 4:
                                                    <span class="ticketCheck @(ticket.Status == 2 ? "grid-item-booked" : "grid-item")" data-id="@ticket.Id" data-price="@ticket.Price" data-startDateTime="@ticket.Trip.StartDateTime"> D @i </span>
                                                    break;
                                            }

                                        }

                                    }
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<script>

    document.addEventListener('DOMContentLoaded', function () {
        document.addEventListener('click', function (e) {
            if (e.target && e.target.classList.contains('trainCarriagesName')) {
                var checkToa = document.getElementsByClassName("grid-container");
                //alert(checkToa[1].getAttribute("data-name"))

                for (var i = 0; i < checkToa.length; i++) {
                    if (e.target.id == checkToa[i].getAttribute("data-name")) {
                        checkToa[i].style.display = "grid"
                    } else {
                        checkToa[i].style.display = "none"
                    }
                }
            }
        })

        //Xử lý vé
        $(document).on("click", '.ticketCheck', function () {
            let data = {
                id: $(this).data('id')
            };

            var price = $(this).data('price');
            var startDateTime = $(this).data('startdatetime');

            // confirm box
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            })

            swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: `Your booking ticket has price is ${price} and time start is ${startDateTime}`,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, book this ticket!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    swalWithBootstrapButtons.fire(
                        'Booked!',
                        'Your booking is recorded.',
                        'success'
                    )

                    $.ajax({
                        url: "/Client/ChangeStatusTicket",
                        type: 'POST',
                        data: data,
                        success: function (data) {
                            console.log("console log thư thành công: ", data);
                            window.location.reload(false);
                        },
                        error: function (request, error) {
                            console.log("Request: " + request);
                        }
                    });

                } else if (
                    /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                        'Cancelled',
                        'Your booking is cancelled :)',
                        'Try again'
                    )
                }
            })


            //if (confirm(`Bạn có chắc muốn đặt vé có giá ${price} và thời gian khởi hành là ${startDateTime}`)) {
            //    $.ajax({
            //        url: "/Client/ChangeStatusTicket",
            //        type: 'POST',
            //        data: data,
            //        success: function (data) {
            //            console.log("console log thư thành công: ", data);
            //            window.location.reload(false);
            //        },
            //        error: function (request, error) {
            //            console.log("Request: " + request);
            //        }
            //    });
            //}
        });


    })


</script>

