
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div class="header-left">
    <div class="header-title" style="margin: 0"><h3> XEM GIỜ & GIÁ VÉ TÀU</h3></div>
    <div class="header-input">
        @using (Html.BeginForm("SearchTrips", "Client", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="input-group">
                <label for="inputGroupSelect01">Chọn ga đi</label>
            </div>

            <select class="custom-select" id="fromStation" name="fromStation">
                @{
                    foreach (var item in ViewBag.ListTrainStation)
                    {
                        <option value="@item.Id">Ga - @item.Name</option>
                    }
                }
            </select>
            <div class="input-group">
                <label for="inputGroupSelect02">Chọn ga đến</label>
            </div>
            <select class="custom-select" id="toStation" name="toStation">
                @{
                    foreach (var item in ViewBag.ListTrainStation)
                    {
                        <option value="@item.Id">Ga - @item.Name</option>
                    }
                }
            </select>
            <div class="form-date-input">
                <div>
                    <label for="day-go">Ngày đi</label>
                </div>
                <input type="date" id="startDate" name="startDate">
                <div class="btn-search">
                    <button type="submit">Tìm Kiếm</button>
                </div>
            </div>
        }
    </div>
</div>

<div class="slide">
    <div class="navigate-slider">
        <i class="fas fa-angle-left" onClick="Back();"></i>
        <i class="fas fa-angle-right" onClick="Next();"></i>
    </div>

    <div class="move-slider">
        <img src="~/Content/assets_client/img/train1.jpg" alt="">
        <img src="~/Content/assets_client/img/train3.jpg" alt="">
        <img src="~/Content/assets_client/img/train4.jpg" alt="">
        <img src="~/Content/assets_client/img/train5.jpg" alt="">
        <img src="~/Content/assets_client/img/train8.jpg" alt="">
    </div>
</div>

<div class="header-right">
    <div class="header-child-cart">
        <h3 class="header-title" style="margin: 0">Giỏ vé</h3>
        <div class="cart-buy">
            <div>Chưa có vé</div>
            <button class="open-modal-btn">Mua vé</button>
        </div>
    </div>
    <div class="header-child-contact">
        <h3>Kết nối với chúng tôi</h3>
        <div class="cart-buy">
            <div>facebook</div>
            <div>youtobe</div>
            <div>twitter</div>
        </div>
    </div>
    <div class="header-child-contact2">
        <h3>Tra cứu hóa đơn</h3>
        <div class="cart-buy">
            <div>
                Để tra cứu hóa đơn điện tử, quý khách hàng vui lòng
                <a href="#">bấm vào đây</a>
            </div>
        </div>
    </div>


</div>
<div id="tabs">
    <!-- Tab items -->
    <div class="tabs">
        <div class="tab-item active">
            <i class="fas fa-train"></i>
            Tàu Hà Nội
        </div>
        <div class="tab-item">
            <i class="fas fa-train"></i>
            Tàu Ninh Bình
        </div>
        <div class="tab-item">
            <i class="fas fa-train"></i>
            Tàu Thanh Hóa
        </div>
        <div class="tab-item">
            <i class="fas fa-train"></i>
            Tàu Vinh
        </div>
        <div class="tab-item">
            <i class="fas fa-train"></i>
            Tàu Huế
        </div>
        <div class="tab-item">
            <i class="fas fa-train"></i>
            Tàu Đà Nẵng
        </div>
        <div class="tab-item">
            <i class="fas fa-train"></i>
            Tàu Sài Gòn
        </div>
        <div class="line"></div>
    </div>

    <!-- Tab content -->
    <div class="tab-content">
        <div class="tab-pane active">
            <div class="feature-layout_2">
                <div class="feature-item_2">
                    <div class="form__row_2">
                        <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-01.png" alt=""></div>
                        <p class="form__1 ">
                            <a href="" class="font-3">
                                Hà Nội - Sài Gòn - Hà Nội
                            </a><br>
                            Từ 525.000 VNĐ
                        </p>
                    </div>
                    <div class="form__row_2">
                        <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-04.png" alt=""></div>

                        <p class="form__1">
                            <a href="" class="font-3">
                                Hà Nội - Lào cai - Hà Nội
                            </a><br>
                            Từ 450.000 VNĐ
                        </p>
                    </div>
                    <div class="form__row_2">
                        <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-07.png" alt=""></div>
                        <p class="form__1">
                            <a href="" class="font-3">
                                Hà Nội - Nha Trang - Hà Nội
                            </a><br>
                            Từ 345.000 VNĐ
                        </p>
                    </div>

                </div>
                <div class="feature-item_2">
                    <div class="form__row_2">
                        <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-02.png" alt=""></div>
                        <p class="form__1">
                            <a href="" class="font-3">
                                Hà Nội - Huế - Hà Nội
                            </a><br>
                            Từ 650.000 VNĐ
                        </p>
                    </div>
                    <div class="form__row_2">
                        <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-05.png" alt=""></div>
                        <p class="form__1">
                            <a href="" class="font-3">Hà Nội - Thanh Hóa - Hà Nội</a><br>
                            Từ 560.000 VNĐ
                        </p>
                    </div>
                    <div class="form__row_2">
                        <div class="form__label_2"><img src="	https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-08.png" alt=""></div>
                        <p class="form__1">
                            <a href="" class="font-3">Hà Nội - Nam Định - Hà Nội</a><br>
                            Từ 320.000 VNĐ
                        </p>
                    </div>
                </div>
                <div class="feature-item_2">
                    <div class="form__row_2">
                        <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-03.png" alt=""></div>
                        <p class="form__1">
                            <a href="" class="font-3">
                                Hà Nội - Quảng Ngãi - Hà Nội
                            </a><br>
                            Từ 450.000 VNĐ
                        </p>
                    </div>
                    <div class="form__row_2">
                        <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-06.png" alt=""></div>
                        <p class="form__1">
                            <a href="" class="font-3">
                                Hà Nội - Quy Nhơn - Hà Nội
                            </a><br>
                            Từ 790.000 VNĐ
                        </p>
                    </div>
                    <div class="form__row_2">
                        <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-09.png" alt=""></div>
                        <p class="form__1">
                            <a href="" class="font-3">
                                Hà Nội - Vinh - Hà Nội
                            </a><br>
                            Từ 450.000 VNĐ
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="tab-pane">
        <div class="feature-layout_2">
            <div class="feature-item_2">
                <div class="form__row_2">
                    <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-01.png" alt=""></div>
                    <p class="form__1">
                        <a href="" class="font-3">
                            Ninh Bình - Hà Nội - Ninh Bình
                        </a><br>
                        Từ 525.000 VNĐ
                    </p>
                </div>
                <div class="form__row_2">
                    <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-04.png" alt=""></div>

                    <p class="form__1">
                        <a href="" class="font-3">
                            Ninh Bình - Nha Trang - Ninh Bình
                        </a><br>
                        Từ 450.000 VNĐ
                    </p>
                </div>
                <div class="form__row_2">
                    <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-07.png" alt=""></div>
                    <p class="form__1">
                        <a href="" class="font-3">
                            Ninh Bình - Đà Nẵng - Ninh Bình
                        </a><br>
                        Từ 345.000 VNĐ
                    </p>
                </div>

            </div>
            <div class="feature-item_2">
                <div class="form__row_2">
                    <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-02.png" alt=""></div>
                    <p class="form__1">
                        <a href="" class="font-3">
                            Ninh Bình - Nha Trang - Ninh Bình
                        </a><br>
                        Từ 650.000 VNĐ
                    </p>
                </div>
                <div class="form__row_2">
                    <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-05.png" alt=""></div>
                    <p class="form__1">
                        <a href="" class="font-3">Ninh Bình - Lào Cai - Ninh Bình</a><br>
                        Từ 560.000 VNĐ
                    </p>
                </div>
                <div class="form__row_2">
                    <div class="form__label_2"><img src="	https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-08.png" alt=""></div>
                    <p class="form__1">
                        <a href="" class="font-3">Ninh Bình - Korea - Ninh Bình</a><br>
                        Từ 320.000 VNĐ
                    </p>
                </div>
            </div>
            <div class="feature-item_2">
                <div class="form__row_2">
                    <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-03.png" alt=""></div>
                    <p class="form__1">
                        <a href="" class="font-3">
                            Ninh Bình - Đà Nẵng - Ninh Bình
                        </a><br>
                        Từ 450.000 VNĐ
                    </p>
                </div>
                <div class="form__row_2">
                    <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-06.png" alt=""></div>
                    <p class="form__1">
                        <a href="" class="font-3">
                            Ninh Bình - Nam Định - Ninh Bình
                        </a><br>
                        Từ 790.000 VNĐ
                    </p>
                </div>
                <div class="form__row_2">
                    <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-09.png" alt=""></div>
                    <p class="form__1">
                        <a href="" class="font-3">
                            Ninh Bình - Ninh Bình - Ninh Bình
                        </a><br>
                        Từ 450.000 VNĐ
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane">
        <div class="feature-layout_2">
            <div class="feature-item_2">
                <div class="form__row_2">
                    <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-01.png" alt=""></div>
                    <p class="form__1">
                        <a href="" class="font-3">
                            Thanh Hóa - Hà Nội - Thanh Hóa
                        </a><br>
                        Từ 525.000 VNĐ
                    </p>
                </div>
                <div class="form__row_2">
                    <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-04.png" alt=""></div>

                    <p class="form__1">
                        <a href="" class="font-3">
                            Thanh Hóa - Nha Trang - Thanh Hóa
                        </a><br>
                        Từ 450.000 VNĐ
                    </p>
                </div>
                <div class="form__row_2">
                    <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-07.png" alt=""></div>
                    <p class="form__1">
                        <a href="" class="font-3">
                            Thanh Hóa - Đà Nẵng - Thanh Hóa
                        </a><br>
                        Từ 345.000 VNĐ
                    </p>
                </div>

            </div>
            <div class="feature-item_2">
                <div class="form__row_2">
                    <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-02.png" alt=""></div>
                    <p class="form__1">
                        <a href="" class="font-3">
                            Thanh Hóa - Nha Trang - Thanh Hóa
                        </a><br>
                        Từ 650.000 VNĐ
                    </p>
                </div>
                <div class="form__row_2">
                    <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-05.png" alt=""></div>
                    <p class="form__1">
                        <a href="" class="font-3">Thanh Hóa - Lào Cai - Thanh Hóa</a><br>
                        Từ 560.000 VNĐ
                    </p>
                </div>
                <div class="form__row_2">
                    <div class="form__label_2"><img src="	https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-08.png" alt=""></div>
                    <p class="form__1">
                        <a href="" class="font-3">Thanh Hóa - Korea - Thanh Hóa</a><br>
                        Từ 320.000 VNĐ
                    </p>
                </div>
            </div>
            <div class="feature-item_2">
                <div class="form__row_2">
                    <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-03.png" alt=""></div>
                    <p class="form__1">
                        <a href="" class="font-3">
                            Thanh Hóa - Đà Nẵng - Thanh Hóa
                        </a><br>
                        Từ 450.000 VNĐ
                    </p>
                </div>
                <div class="form__row_2">
                    <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-06.png" alt=""></div>
                    <p class="form__1">
                        <a href="" class="font-3">
                            Thanh Hóa - Nam Định - Thanh Hóa
                        </a><br>
                        Từ 790.000 VNĐ
                    </p>
                </div>
                <div class="form__row_2">
                    <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-09.png" alt=""></div>
                    <p class="form__1">
                        <a href="" class="font-3">
                            Thanh Hóa - Ninh Bình - Thanh Hóa
                        </a><br>
                        Từ 450.000 VNĐ
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane">
        <div class="feature-layout_2">
            <div class="feature-item_2">
                <div class="form__row_2">
                    <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-01.png" alt=""></div>
                    <p class="form__1">
                        <a href="" class="font-3">
                            Vinh - Hà Nội - Vinh
                        </a><br>
                        Từ 525.000 VNĐ
                    </p>
                </div>
                <div class="form__row_2">
                    <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-04.png" alt=""></div>

                    <p class="form__1">
                        <a href="" class="font-3">
                            Vinh - Nha Trang - Vinh
                        </a><br>
                        Từ 450.000 VNĐ
                    </p>
                </div>
                <div class="form__row_2">
                    <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-07.png" alt=""></div>
                    <p class="form__1">
                        <a href="" class="font-3">
                            Vinh - Đà Nẵng - Vinh
                        </a><br>
                        Từ 345.000 VNĐ
                    </p>
                </div>

            </div>
            <div class="feature-item_2">
                <div class="form__row_2">
                    <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-02.png" alt=""></div>
                    <p class="form__1">
                        <a href="" class="font-3">
                            Vinh - Nha Trang - Vinh
                        </a><br>
                        Từ 650.000 VNĐ
                    </p>
                </div>
                <div class="form__row_2">
                    <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-05.png" alt=""></div>
                    <p class="form__1">
                        <a href="" class="font-3">Vinh - Lào Cai - Vinh</a><br>
                        Từ 560.000 VNĐ
                    </p>
                </div>
                <div class="form__row_2">
                    <div class="form__label_2"><img src="	https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-08.png" alt=""></div>
                    <p class="form__1">
                        <a href="" class="font-3">Vinh - Korea - Vinh</a><br>
                        Từ 320.000 VNĐ
                    </p>
                </div>
            </div>
            <div class="feature-item_2">
                <div class="form__row_2">
                    <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-03.png" alt=""></div>
                    <p class="form__1">
                        <a href="" class="font-3">
                            Vinh - Đà Nẵng - Vinh
                        </a><br>
                        Từ 450.000 VNĐ
                    </p>
                </div>
                <div class="form__row_2">
                    <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-06.png" alt=""></div>
                    <p class="form__1">
                        <a href="" class="font-3">
                            Vinh - Nam Định - Vinh
                        </a><br>
                        Từ 790.000 VNĐ
                    </p>
                </div>
                <div class="form__row_2">
                    <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-09.png" alt=""></div>
                    <p class="form__1">
                        <a href="" class="font-3">
                            Vinh - Ninh Bình - Vinh
                        </a><br>
                        Từ 450.000 VNĐ
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane">
        <div class="feature-layout_2">
            <div class="feature-item_2">
                <div class="form__row_2">
                    <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-01.png" alt=""></div>
                    <p class="form__1">
                        <a href="" class="font-3">
                            Huế - Hà Nội - Huế
                        </a><br>
                        Từ 525.000 VNĐ
                    </p>
                </div>
                <div class="form__row_2">
                    <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-04.png" alt=""></div>

                    <p class="form__1">
                        <a href="" class="font-3">
                            Huế - Nha Trang - Huế
                        </a><br>
                        Từ 450.000 VNĐ
                    </p>
                </div>
                <div class="form__row_2">
                    <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-07.png" alt=""></div>
                    <p class="form__1">
                        <a href="" class="font-3">
                            Huế - Đà Nẵng - Huế
                        </a><br>
                        Từ 345.000 VNĐ
                    </p>
                </div>

            </div>
            <div class="feature-item_2">
                <div class="form__row_2">
                    <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-02.png" alt=""></div>
                    <p class="form__1">
                        <a href="" class="font-3">
                            Huế - Nha Trang - Huế
                        </a><br>
                        Từ 650.000 VNĐ
                    </p>
                </div>
                <div class="form__row_2">
                    <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-05.png" alt=""></div>
                    <p class="form__1">
                        <a href="" class="font-3">Huế - Lào Cai - Huế</a><br>
                        Từ 560.000 VNĐ
                    </p>
                </div>
                <div class="form__row_2">
                    <div class="form__label_2"><img src="	https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-08.png" alt=""></div>
                    <p class="form__1">
                        <a href="" class="font-3">Huế - Korea - Huế</a><br>
                        Từ 320.000 VNĐ
                    </p>
                </div>
            </div>
            <div class="feature-item_2">
                <div class="form__row_2">
                    <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-03.png" alt=""></div>
                    <p class="form__1">
                        <a href="" class="font-3">
                            Huế - Thanh Hóa - Huế
                        </a><br>
                        Từ 450.000 VNĐ
                    </p>
                </div>
                <div class="form__row_2">
                    <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-06.png" alt=""></div>
                    <p class="form__1">
                        <a href="" class="font-3">
                            Huế - Nam Định - Huế
                        </a><br>
                        Từ 790.000 VNĐ
                    </p>
                </div>
                <div class="form__row_2">
                    <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-09.png" alt=""></div>
                    <p class="form__1">
                        <a href="" class="font-3">
                            Huế - Ninh Bình - Huế
                        </a><br>
                        Từ 450.000 VNĐ
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane">
        <div class="feature-layout_2">
            <div class="feature-item_2">
                <div class="form__row_2">
                    <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-01.png" alt=""></div>
                    <p class="form__1">
                        <a href="" class="font-3">
                            Đà Nẵng - Hà Nội - Đà Nẵng
                        </a><br>
                        Từ 525.000 VNĐ
                    </p>
                </div>
                <div class="form__row_2">
                    <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-04.png" alt=""></div>

                    <p class="form__1">
                        <a href="" class="font-3">
                            Đà Nẵng - Nha Trang - Đà Nẵng
                        </a><br>
                        Từ 450.000 VNĐ
                    </p>
                </div>
                <div class="form__row_2">
                    <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-07.png" alt=""></div>
                    <p class="form__1">
                        <a href="" class="font-3">
                            Đà Nẵng - Đà Nẵng - Đà Nẵng
                        </a><br>
                        Từ 345.000 VNĐ
                    </p>
                </div>

            </div>
            <div class="feature-item_2">
                <div class="form__row_2">
                    <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-02.png" alt=""></div>
                    <p class="form__1">
                        <a href="" class="font-3">
                            Đà Nẵng - Nha Trang - Đà Nẵng
                        </a><br>
                        Từ 650.000 VNĐ
                    </p>
                </div>
                <div class="form__row_2">
                    <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-05.png" alt=""></div>
                    <p class="form__1">
                        <a href="" class="font-3">Đà Nẵng - Lào Cai - Đà Nẵng</a><br>
                        Từ 560.000 VNĐ
                    </p>
                </div>
                <div class="form__row_2">
                    <div class="form__label_2"><img src="	https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-08.png" alt=""></div>
                    <p class="form__1">
                        <a href="" class="font-3">Đà Nẵng - Korea - Đà Nẵng</a><br>
                        Từ 320.000 VNĐ
                    </p>
                </div>
            </div>
            <div class="feature-item_2">
                <div class="form__row_2">
                    <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-03.png" alt=""></div>
                    <p class="form__1">
                        <a href="" class="font-3">
                            Đà Nẵng - Đà Nẵng - Đà Nẵng
                        </a><br>
                        Từ 450.000 VNĐ
                    </p>
                </div>
                <div class="form__row_2">
                    <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-06.png" alt=""></div>
                    <p class="form__1">
                        <a href="" class="font-3">
                            Đà Nẵng - Nam Định - Đà Nẵng
                        </a><br>
                        Từ 790.000 VNĐ
                    </p>
                </div>
                <div class="form__row_2">
                    <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-09.png" alt=""></div>
                    <p class="form__1">
                        <a href="" class="font-3">
                            Đà Nẵng - Ninh Bình - Đà Nẵng
                        </a><br>
                        Từ 450.000 VNĐ
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane">
        <div class="feature-layout_2">
            <div class="feature-item_2">
                <div class="form__row_2">
                    <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-01.png" alt=""></div>
                    <p class="form__1">
                        <a href="" class="font-3">
                            Sài Gòn - Hà Nội - Sài Gòn
                        </a><br>
                        Từ 525.000 VNĐ
                    </p>
                </div>
                <div class="form__row_2">
                    <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-04.png" alt=""></div>

                    <p class="form__1">
                        <a href="" class="font-3">
                            Sài Gòn - Nha Trang - Sài Gòn
                        </a><br>
                        Từ 450.000 VNĐ
                    </p>
                </div>
                <div class="form__row_2">
                    <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-07.png" alt=""></div>
                    <p class="form__1">
                        <a href="" class="font-3">
                            Sài Gòn - Đà Nẵng - Sài Gòn
                        </a><br>
                        Từ 345.000 VNĐ
                    </p>
                </div>

            </div>
            <div class="feature-item_2">
                <div class="form__row_2">
                    <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-02.png" alt=""></div>
                    <p class="form__1">
                        <a href="" class="font-3">
                            Sài Gòn - Nha Trang - Sài Gòn
                        </a><br>
                        Từ 650.000 VNĐ
                    </p>
                </div>
                <div class="form__row_2">
                    <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-05.png" alt=""></div>
                    <p class="form__1">
                        <a href="" class="font-3">Sài Gòn - Lào Cai - Sài Gòn</a><br>
                        Từ 560.000 VNĐ
                    </p>
                </div>
                <div class="form__row_2">
                    <div class="form__label_2"><img src="	https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-08.png" alt=""></div>
                    <p class="form__1">
                        <a href="" class="font-3">Sài Gòn - Korea - Sài Gòn</a><br>
                        Từ 320.000 VNĐ
                    </p>
                </div>
            </div>
            <div class="feature-item_2">
                <div class="form__row_2">
                    <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-03.png" alt=""></div>
                    <p class="form__1">
                        <a href="" class="font-3">
                            Sài Gòn - Đà Nẵng - Sài Gòn
                        </a><br>
                        Từ 450.000 VNĐ
                    </p>
                </div>
                <div class="form__row_2">
                    <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-06.png" alt=""></div>
                    <p class="form__1">
                        <a href="" class="font-3">
                            Sài Gòn - Nam Định - Sài Gòn
                        </a><br>
                        Từ 790.000 VNĐ
                    </p>
                </div>
                <div class="form__row_2">
                    <div class="form__label_2"><img src="https://www.vemaybay.vn/api/imagefilter/crop/94/94/DESTINATION-09.png" alt=""></div>
                    <p class="form__1">
                        <a href="" class="font-3">
                            Sài Gòn - Ninh Bình - Sài Gòn
                        </a><br>
                        Từ 450.000 VNĐ
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content3-width">
    <p class="content3-float">* Đã bao gồm thuế </p>
    <p class="content3-float"> <i class="ti-layers"></i> Điều khoản & điều kiện</p>
    <p class="content3-right">Xem thêm <i class="ti-angle-right	"></i></p>
</div>
<script src="~/Scripts/ClientSite/app.js"></script>
